
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="<?php echo base_url().'style/admin/' ?>css/daily_manage.css">
</head>
<body>
<?php $this->load->view('admin/index.html'); ?>
<div class="location">
	<div>
		<table>
			<tr id="table_head">
				
				<td>标题</td>
				<td>发表时间</td>
				<td>操作</td>
			</tr>
			
			<?php foreach($article as $v): ?>
			<tr>
				<td><a href="<?php echo site_url('admin/article/show_article/' . $v['aid']) ?>"><?php echo $v['title'] ?></a></td>
				<td><?php echo date('Y-m-d',$v['time']) ?></td>
				
				<td>
					[<a href="<?php echo site_url('admin/article/edit_article/' . $v['aid']) ?>">编辑</a>]
					[<a href="<?php echo site_url('admin/article/del/' . $v['aid']) ?>">删除</a>]
				</td>
			</tr>
			<?php endforeach ?>
		</table>
		<div class="page">
		<?php echo $links ?>
		</div>
	</div>
</div>
	
</body>
</html>