body {
	font-family: "Microsoft Yahei";
}
.location {
	width: 1020px;
	position:absolute;
	top: 280px;
	left: 315px;
}

.data {
	width: 1020px;
	height: 700px;
	overflow: hidden;
}
.photo {
	width: 170px;
	height: 170px;
	margin: 0 auto;
	margin-top: 20px;
	border: 1px #559664 solid;
	border-radius: 50%;
	cursor: pointer;
	overflow: hidden;
}
#imgPre {
	width: 170px;
	height: 170px;
	margin: 0 auto;
	cursor: pointer;
}
.information {
	width: 400px;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 18px;
	overflow: hidden;
}
.information p {
	margin: 0;
	margin-top: 10px;
	display: inline-block;
	margin-left: 30px;
}
#nc,
#nl,
#gx,
#yx {
	margin-left: 50px;
}
#xb {
	margin-left: 44px;
}
#gxqm {
	margin-top: -20px;
	margin-left: 120px;
	width: 273px;
	height: 60px; 
}
#tj {
	float: right;
	margin-top: 15px;
}