#main {
	width: 1320px;
	height: auto;
	margin: 0 auto;
	position: relative;
}
.bottom {
	display: none;
}
#btt {
	width: 1320px;
	height: 10px;
	position: absolute;
	bottom: -200px;
	margin: 0 auto;
	background:url('../image/cut_off.png');
}
#d {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.details {
	width: 800px;
	margin: 0 auto;
}
.cont {
	margin-top: 20px;
	width: 800px;
	word-wrap: break-word;
	word-break: normal; 
}
.tp {
	width: 400px;
	position: relative;

	margin: 0 auto;
}
.comment {
	width: 800px;
	margin: 0 auto;
	margin-top: 40px;
}
.comment p {
	font-size: 18px;
}
#comm {
	width: 800px;
	height: 100px;
}