
.main {
	width: 800px;
	margin: 0 auto;
	overflow: hidden;
}
#rizhi {
	margin-top: 10px;
	font-size: 22px;
	margin-left: 10px;
	display: inline-block;
}
#cut_off {
	width: 800px;
	height: 10px;
	background:url('../image/cut_off.png');
}
.main td{
	height: 30px;

}
#title {
	width: 700px;
}
#title a {
	color: #000;
	font-size: 16px;
}
.page{
	width: 100%;
	height: 50px;
	text-align: center;
	margin-top: 20px;
}
.page a{
	margin-left: 2px;
	border: 1px solid #ccc;
	padding: 3px;
}
.page strong{
	margin-left: 2px;
	border: 1px solid #ccc;
	padding: 3px;
	font-weight: 400;
}
.bottom {
	display: none;
}
#btt {
	width: 1340px;
	height: 10px;
	float: left;
	margin: 0 auto;
	margin-top: 10px;
	background:url('../image/cut_off.png');
}
#d {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
@font-face {font-family: 'iconfont';
    src: url('../iconfont/文章/iconfont.eot'); /* IE9*/
    src: url('../iconfont/文章/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/文章/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/文章/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/文章/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:18px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

