.bottom {
	display: none;
}
.data {
	width: 1020px;
	height: 500px;
	overflow: hidden;
	margin: 0 auto;
}
.photo {
	width: 170px;
	height: 170px;
	margin: 0 auto;
	margin-top: 20px;
	border: 1px #559664 solid;
	border-radius: 50%;
	cursor: pointer;
	overflow: hidden;
}
.information {
	width: 300px;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 18px;
	overflow: hidden;
}
.information p {
	margin: 0;
	margin-top: 10px;
	display: inline-block;
	margin-left: 30px;
}
#btt {
	width: 1340px;
	height: 10px;
	float: left;
	margin: 0 auto;
	margin-top: 10px;
	background:url('../image/cut_off.png');
}
#d {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}