<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="<?php echo base_url().'style/index/' ?>css/data.css">
</head>
<body>
<?php $this->load->view('index/header.html'); ?>
<div class="location">
	<div class="data">
		<div class="photo">
			<img src="<?php echo base_url() . 'uploads/person/'. $da[0]['tx']?>" alt="">
		</div>
		<div class="information">
			
			<p id="name">昵称: <?php echo $da[0]['nc'] ?></p><br>
			<p id="sex">性别: <?php echo $da[0]['xb'] ?></p><br>
			<p id="age">年龄: <?php echo $da[0]['nl'] ?></p><br>
			<p id="hometown">故乡: <?php echo $da[0]['gx'] ?></p><br>
			<p id="e-mail">邮箱: <?php echo $da[0]['yx'] ?></p><br>
			<p id="qinming">个性签名: <?php echo $da[0]['gxqm'] ?></p>
			<br>
		</div>
	</div>
	
	<div id="btt">
        <p id="d">design by：</p>
    </div>
</div>


</body>
</html>