body {
	font-family: "Microsoft Yahei";
}
.location {
	width: 1020px;
	position:absolute;
	top: 280px;
	left: 315px;
}
#mmxg {
	margin: 0;
	text-align: center;
	line-height: 40px;
	background-color: #559664;
	font-size: 20px;
	color: #fff;
	margin-left: 10px;
}
#tb {
	margin: 0 auto;
}
#tb td {
	height: 30px;
}
.input_button {
	margin-left: 597px;
}
