<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="<?php echo base_url().'style/index/' ?>css/manage_daily.css">
</head>
<body>
    <?php $this->load->view('index/header.html'); ?>
    <div class="main">
        <span><i class="iconfont">&#xe632;</i></span> 
        <p id="rizhi">日志列表</p>
        <div id="cut_off"></div>
        <table>           
            <?php foreach($article as $v): ?>
            <tr>
                <td id="title">
                    <a href="<?php echo site_url('index/home/article/' . $v['aid']) ?>"><?php echo $v['title'] ?></a>
                </td>

                <td>
                    <?php echo date('Y-m-d',$v['time']) ?>
                </td>
                
            </tr>
            <?php endforeach ?>
        </table>

        <div class="page">
            <?php echo $links ?>
        </div>
        
    </div>


    <div id="btt">
        <p id="d">design by：曾玉   陈馨怡</p>
    </div>

    
</body>
</html>