<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<link rel="stylesheet" href="<?php echo base_url() . 'style/admin/' ?>css/login.css" />
	
</head>
<body>

<div class="login">
	<p>Login</p>
	<form class="sigin" action="<?php echo site_url('admin/login/login_in') ?>" method="POST">

		<pre>用  户</pre>：<input type="text" name="username" id="yonghu"></br>
		<pre>密  码</pre>：<input type="password" name="passwd" id="mima"></br>
		验证码：<input type="text" name="captcha" id="yanzheng">
		<div class="captcha">
			<?php echo $captcha ?>
		</div>
		<input type="submit" value="登录" id="denglu">
		
	</form>	

</div>

	
</body>
</html>